@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Mystery+Quest&family=Noto+Serif&family=Pompiere&display=swap');
.App {
    width: 960px;
    margin: auto;
}

body {
    font-family: 'Noto Serif', serif;
    /*font-family: 'Aladin', cursive;*/
    /*font-family: 'Merriweather', serif;*/
    /*font-family: 'Mystery Quest', cursive;*/
    /*font-family: 'Pompiere', cursive;*/
}