@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Mystery+Quest&family=Noto+Serif&family=Pompiere&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #f0f0f0;

    /* Default font for all texts. */
    font-family: 'Noto Serif', serif;

    /* Additionally available fonts. */
    /*font-family: 'Aladin', cursive;*/
    /*font-family: 'Merriweather', serif;*/
    /*font-family: 'Mystery Quest', cursive;*/
    /*font-family: 'Pompiere', cursive;*/
}

#root {
    width: 100%;
    height: 100%;
}