.input-box-with-button-wrapper {
    display: flex;
    flex-direction: column;
}

.input-box-with-button-wrapper div.input-box-and-icon-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.input-box-with-button-wrapper div.input-wrapper {
    flex: 1;
}

.input-box-with-button-wrapper div.input-wrapper > input {
    width: 100%;
}

.input-box-with-button-wrapper div.icon-wrapper {
}

.input-box-with-button-wrapper div.icon-wrapper > img {
    width: 25px;
    margin-top: 15px;
    opacity: 0.4;
    padding-left: 6px;
}

.input-box-with-button-wrapper div.icon-wrapper > img:hover {
    opacity: 1.0;
}

.input-box-with-button-wrapper div.error-message-wrapper {
    color: red;
    font-size: 0.8em;
    height: 0.8em;
}