.list-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.left-to-right {
    direction: ltr;
    float: left;
}

.right-to-left {
    direction: rtl;
    float: right;
}

.list-title {
    font-size: 2em;
    font-family: 'Noto Serif', serif;
    padding-top: 1em;
    padding-bottom: 1em;
}

.add-text-entry {
    display: flex;
}

.existing-entries-container {
    padding-top: 10px;
}